@page {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

body {
    /* Basic Styling for BODY Section of a File */
    height: 100%;
    margin: 0;
    orphans: 1;
    padding: 0;
    widows: 1;
}

*+* {
    /* Lobotomized Owl Selector - what to do any time two objects follow each other - limit to margin-top */
    margin-top: 0.6em;
}

p {
    /* Basic paragraph styling */
    display: block;
    text-indent: 1.2em;
}

h1,
h2,
h3,
h4 {
    /* Basic Chapter Heading Styling */
    page-break-before: always;
    page-break-after: avoid;
    text-align: center;
}

h1+p,
h2+p,
h3+p,
h4+p,
hr+p,
ol+p,
ul+p,
.chapquote+p,
.headline+p,
.letter+p,
.note+p,
.poem+p,
.placard+p,
.song+p {
    /* Non-indented Paragraphs Styling (for paragraphs that follow something and shouldn't be indented) */
    text-indent: 0;
}

h1+p::first-letter,
h2+p::first-letter,
h3+p::first-letter,
h4+p::first-letter,
hr+p::first-letter,
.chapquote+p::first-letter {
    /* First-Letter Styling (for the first letter following certain things (IOW, dropcaps)) */
    font-weight: bold;
}

h2+p::first-line,
h3+p::first-line,
h4+p::first-line,
hr+p::first-line,
.chapquote+p::first-line {
    /* Make first line of first paragraphs smallcap */
    font-size: 1.05em;
    font-variant: small-caps;
}

hr {
    /* Thematic break to use 3 asterisks between parts of story */
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    border: none;
}

hr::before {
    content: "***";
    display: block;
    text-align: center;
}

blockquote {
    /* Blockquote Styling */
    display: block;
    font-size: 1.5em;
    font-style: italic;
    margin-left: 1.7em;
    margin-right: 1.7em;
    margin-bottom: 1.5em;
}

i>i {
    /*	Italics Child Selector Styling (Make Nested Italics Normal Font)	*/
    font-style: normal;
}

i>em {
    /*	Italics Child Selector Styling (Make Nested Italics Normal Font)	*/
    font-style: normal;
}

li {
    margin-top: 0em;
}

/*
* This whole section is styling for specific page types of a book
*/
section.aboutauthorpage {
    /* About the Author Page Styling */
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
}

section.acknowledgmentspage {
    /* Acknowledgments Page Styling */
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

section.acknowledgmentspage p {
    /* Acknowledgments Page Paragraph Styling */
    display: block;
    text-indent: 0;
}

section.alsobypage {
    /* Also By Page Styling */
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

section.alsobypage p {
    /* Also By Page Paragraph Styling */
    display: block;
    text-indent: 0;
}

section.bibliographypage {
    /* Bibliography Page Styling */
    font-size: small;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}

section.bibliographypage p {
    /* Bibliography Page Paragraph Styling */
    display: block;
    text-indent: -2em;
}

section.copyrightpage {
    /* Copyright Page Styling */
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

section.copyrightpage p {
    /* Copyright Page Paragraph Styling */
    display: block;
    text-indent: 0;
}

section.dedicationpage {
    /* Dedication Page Styling */
    font-size: small;
    font-style: italic;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

section.dedicationpage p {
    /* Dedication Page Paragraph Styling */
    display: block;
    text-indent: 0;
}

section.dramatispage {
    /* Dramtis Personae Page Styling */
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1.5em;
    text-align: justify;
}

section.dramatispage p {
    /* Dramatis Personae Paragraph Style */
    display: block;
    text-indent: -1.5em;
}

section.dramatispage .person {
    /* Dramatis Personae Person Line Style */
    font-variant: small-caps;
    font-weight: bold;
}

section.drmpage {
    /* DRM Statement Page Styling */
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

section.drmpage p {
    /* DRM Statement Page Paragraph Styling */
    display: block;
    text-indent: 0;
}

section.epigraphpage {
    /* Epigraph Page Styling */
    font-size: small;
    margin-left: 15%;
    margin-right: 15%;
}

section.epigraphpage p {
    /* Epigraph Page Paragraph Styling */
    display: block;
    text-indent: 0;
}

section.epigraphpage p.signature {
    /* Epigraph Page Signature styling (basically right-justify) */
    display: block;
    text-align: right;
}

section.glossarypage {
    /* Glossary Page Styling */
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1.5em;
    text-align: justify;
}

section.glossarypage p {
    /* Glossary Page Paragraph Entry Styling */
    display: block;
    text-indent: -1.5em;
}

section.glossarypage .term {
    /* Glossary Term to be Defined Style */
    font-variant: small-caps;
    font-weight: bold;
}

section.mappage {
    /* Map Page Styling */
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

section.mappage p {
    /* Map Page Paragraph Styling */
    display: block;
    text-indent: 0;
}

section.playact {
    /*	Play Act Section Styling	*/
    display: block;
}

section.playact div.playline {
    display: flex;
}

section.playact p {
    /* Play Act Paragraph Styling */
    display: block;
    text-indent: 0;
}

section.playact dd.dialog {
    /*	Play Act Dialog Styling for Description List <dl>	*/
    display: block;
    padding-left: 2px;
    text-align: left;
    vertical-align: top;
}

section.playact p.dialog {
    /*	Play Act Dialog Styling for Paragraph <p>	*/
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 2px;
    text-align: left;
    vertical-align: top;
    width: 65%;
}

section.playact td.dialog {
    /*	Play Act Dialog Styling for Table <td>	*/
    border: 0;
    display: table-cell;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: left;
    vertical-align: top;
}

section.playact dt.person {
    /*	Play Act Person Styling for Description List <dl>	*/
    display: block;
    font-variant: small-caps;
    font-weight: bold;
    padding-right: 2px;
    text-align: left;
    vertical-align: top;
}

section.playact p.person {
    /*	Play Act Person Styling for Paragraph <p>	*/
    display: inline-block;
    font-variant: small-caps;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 2px;
    text-align: right;
    vertical-align: top;
    width: 30%;
}

section.playact td.person {
    /*	Play Act Person Styling for Table <td>	*/
    border: 0;
    display: table-cell;
    font-variant: small-caps;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: left;
    vertical-align: top;
}

section.playact span.person {
    /*	Play Act Person Styling for Span <span>	*/
    display: inline-block;
    font-weight: bold;
    margin-top: 0;
    padding-right: 0%;
    font-variant: small-caps;
    vertical-align: top;
}

section.playact .person::after {
    /*	Append Colon After Play Act Person for Anything	*/
    content: ":";
}

section.playact span.person::after {
    /*	Don't Put Anything After Play Act Person for Span <span>	*/
    content: "";
}

section.playact dd.stage_direction {
    /*	Play Act Stage Direction Styling for Description List <dd>	*/
    display: block;
    font-family: sans-serif;
    font-style: italic;
    padding-left: 2px;
    text-align: left;
    vertical-align: top;
}

section.playact p.stage_direction {
    /*	Play Act Stage Direction Styling for Paragraph <p>	*/
    display: inline-block;
    font-family: sans-serif;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 2px;
    text-align: left;
    vertical-align: top;
    width: 65%;
}

section.playact td.stage_direction {
    /*	Play Act Stage Direction Styling for Table <td>	*/
    border: 0;
    display: table-cell;
    font-family: sans-serif;
    font-style: italic;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: left;
    vertical-align: top;
}

section.playact span.stage_direction {
    /*	Play Act Stage Direction Styling for Spans <span>	*/
    display: inline-block;
    font-family: sans-serif;
    font-style: italic;
    padding-left: 0;
    text-align: left;
    vertical-align: top;
}

section.playact .stage_direction::before {
    /*	Prepend Opening Parenthesis Before Play Act Stage Directions	*/
    content: "(";
}

section.playact .stage_direction::after {
    /*	Append Closing Parenthesis After Play Act Stage Directions	*/
    content: ")";
}

section.playasparagraph {
    /*	Play Act Section as Paragraphs Styling	*/
    display: block;
    padding: 1.5em;
}

section.playasparagraph p {
    /* Play Act as Paragraphs Paragraph Styling */
    display: block;
    text-indent: -1.5em;
}

section.playasparagraph span.person {
    /*	Play Act as Paragraphs Person Styling for Span <span>	*/
    font-weight: bold;
    margin-top: 0;
    font-variant: small-caps;
    vertical-align: top;
}

section.playasparagraph span.stage_direction {
    /*	Play Act as Paragraphs Stage Direction Styling for Spans <span>	*/
    font-family: sans-serif;
    font-style: italic;
    padding-left: 0;
    text-align: left;
    vertical-align: top;
}

section.playasparagraph .stage_direction::before {
    /*	Prepend Opening Parenthesis Before Play Act as Paragraphs Stage Directions	*/
    content: "(";
}

section.playasparagraph .stage_direction::after {
    /*	Append Closing Parenthesis After Play Act Paragraphs Stage Directions	*/
    content: ")";
}

section.titlepage {
    /* Title Page Styling */
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

section.titlepage p {
    /* Title Page Paragraph Styling */
    display: block;
    text-indent: 0;
}

/*
* This is a section for types of chunks on a page
*/
div.box {
    /* Box That Encloses Text on All Sides */
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 0.1em;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 0.1em;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 0.1em;
    display: block;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.5em;
    text-align: justify;
}

div.box p {
    /* Box Text Styling */
    display: block;
    font-size: 0.88rem;
    text-align: justify;
    text-indent: 0;
}

div.chapquote {
    /* Chapter Quote (quote at top of chapters) Styling */
    display: block;
    font-style: italic;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    text-align: justify;
}

div.chapquote p {
    /* Chapter Quote Paragraph Styling */
    display: block;
    font-size: 1.2em;
    text-indent: 0;
}

div.chapquote p.blockindent {
    /* Chapter Quote Paragraph Styling */
    display: block;
    margin-left: 1.2em;
    text-indent: 0;
}

div.chapquote p.blockindent2 {
    /* Chapter Quote Paragraph Styling */
    display: block;
    margin-left: 2.4em;
    text-indent: 0;
}

div.chapquote p.signature {
    /* Chapquote Signature styling (basically right-justify) */
    display: block;
    text-align: right;
}

div.diary {
    /* Diary Styling */
    display: block;
    font-size: .88em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}

div.diary p {
    /* Diary Entry Paragraph Style */
    display: block;
    text-indent: 0;
}

div.diary p.heading {
    /* Diary Entry Heading */
    display: block;
    text-align: center;
}

div.diary p.date {
    /* Diary Entry Date */
    display: block;
    text-align: right;
}

div.diary p.indented {
    /* Diary Entry Entirely Indented Paragraph */
    display: block;
    margin-left: 2em;
}

div.email {
    /* Email Styling */
    display: block;
    font-size: .88em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}

div.email p {
    /* Email Paragraph Styling */
    display: block;
    margin-bottom: 0;
    text-indent: 0em;
}

div.email p.heading {
    /* Email Heading (Usually Address in Formal Letter) */
    display: block;
    text-align: left;
}

div.email p.indented {
    /* Email Entirely Indented Paragraph */
    display: block;
    margin-left: 2em;
}

div.email p.salutation {
    /* Email Salutation Line */
    display: block;
    text-align: left;
    text-indent: 0;
}

div.email p.signature {
    /* Email Signature styling (basically right-justify) */
    display: block;
    text-align: right;
}

div.letter {
    /* Letter Styling */
    display: block;
    font-size: .88em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}

div.letter p {
    /* Letter Paragraph Styling */
    display: block;
    text-indent: 1.2em;
}

div.letter p.heading {
    /* Letter Heading (Usually Address in Formal Letter) */
    display: block;
    text-align: right;
}

div.letter p.salutation {
    /* Letter Salutation Line */
    display: block;
    text-align: left;
    text-indent: 0;
}

div.letter p.signature {
    /* Letter Signature styling (basically right-justify) */
    display: block;
    text-align: right;
}

div.news {
    /* News Article Styling */
    display: block;
    font-style: italic;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    text-align: justify;
}

div.news p {
    /* News Article Paragraph Styling */
    display: block;
    font-size: small;
    text-indent: 0;
}

div.news p.blockindent {
    /* News Article Paragraph Styling */
    display: block;
    margin-left: 1.2em;
    text-indent: 0;
}

div.news p.blockindent2 {
    /* News Article Paragraph Styling */
    display: block;
    margin-left: 2.4em;
    text-indent: 0;
}

div.news p.headline {
    /* News Article Styling for a headline */
    display: block;
    font-weight: bold;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    text-align: center;
    text-indent: 0em;
}

div.news p.signature {
    /* News Article Signature styling (basically right-justify) */
    display: block;
    text-align: right;
}

div.note {
    /* Note Styling */
    display: block;
    font-size: .88em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}

div.note p {
    /* Note Paragraph Style */
    display: block;
    text-indent: 0;
}

div.note p.center {
    /* Note Heading */
    display: block;
    text-align: center;
}

div.note p.heading {
    /* Note Heading */
    display: block;
    text-align: right;
}

div.note p.indented {
    /* Note Entirely Indented Paragraph */
    display: block;
    margin-left: 2em;
}

div.play {
    /*	Play Act Div as Paragraphs Styling	*/
    display: block;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1.5em;
}

div.play p {
    /* Play Act as Paragraphs Paragraph Styling */
    display: block;
    text-indent: -1.5em;
}

div.play span.person {
    /*	Play Act as Paragraphs Person Styling for Span <span>	*/
    font-weight: bold;
    margin-top: 0;
    font-variant: small-caps;
    vertical-align: top;
}

div.play p.stagedirection {
    /*	Play Act as Paragraphs Stage Direction Styling for Paragraphs <p>	*/
    font-family: sans-serif;
    font-style: italic;
    padding-left: 0;
    text-align: left;
    vertical-align: top;
}

div.play span.stagedirection {
    /*	Play Act as Paragraphs Stage Direction Styling for Spans <span>	*/
    font-family: sans-serif;
    font-style: italic;
    padding-left: 0;
    text-align: left;
    vertical-align: top;
}

div.play .stagedirection::before {
    /*	Prepend Opening Parenthesis Before Play Act as Paragraphs Stage Directions	*/
    content: "(";
}

div.play .stagedirection::after {
    /*	Append Closing Parenthesis After Play Act Paragraphs Stage Directions	*/
    content: ")";
}

div.poem {
    /* Poem Styling */
    display: block;
    font-size: .88em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1.5em;
    text-align: left;
}

div.poem p {
    /* Poem Paragraph Styling */
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -1.5em;
}

div.poem p.first {
    /* Poem First Line */
    display: block;
    padding-top: 1em;
}

div.poem p.indented {
    /* Poem Entirely Indented Stanza */
    display: block;
    margin-left: 2em;
}

div.poem p.last {
    /* Poem Last Line */
    display: block;
    padding-bottom: 1em;
}

div.song {
    /* Song Styling */
    display: block;
    font-size: .88em;
    font-style: italic;
    font-weight: bold;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1.5em;
    text-align: left;
}

div.song p {
    /* Song Paragraph Styling */
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -1.5em;
}

div.song p.first {
    /* Song First Line */
    display: block;
    padding-top: 1em;
}

div.song p.indented {
    /* Song Entirely Indented Stanza */
    display: block;
    margin-left: 2em;
}

div.song p.indented2 {
    /* Song Entirely Indented Stanza */
    display: block;
    margin-left: 4em;
}

div.song p.indented3 {
    /* Song Entirely Indented Stanza */
    display: block;
    margin-left: 6em;
}

div.song p.last {
    /* Song Last Line */
    display: block;
    padding-bottom: 1em;
}

div.transcript {
    /* Conversation Transcript Styling */
    display: block;
    font-size: .88em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1.5em;
    text-align: left;
}

div.transcript p {
    /* Conversation Transcript Paragraph Styling */
    display: block;
    margin-bottom: 0;
    text-indent: -1.5em;
}

div.transcript p.heading {
    /* Conversation Transcript Heading (Usually Address in Formal Letter) */
    display: block;
    text-align: left;
}

div.transcript p.indented {
    /* Conversation Transcript Entirely Indented Paragraph */
    display: block;
    margin-left: 2em;
}

div.transcript span.person {
    /*	Play Act as Paragraphs Person Styling for Span <span>	*/
    font-weight: bold;
    margin-top: 0;
    font-variant: small-caps;
    vertical-align: top;
}

div.transcript p.salutation {
    /* Conversation Transcript Salutation Line */
    display: block;
    text-align: left;
    text-indent: 0;
}

div.transcript p.signature {
    /* Conversation Transcript Signature styling (basically right-justify) */
    display: block;
    text-align: left;
}

/*
* A styling section for things that apply everywhere
*/
.bold {
    /* Bold Styling */
    font-weight: bold;
}

.caption {
    /* Caption Styling for an Image */
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 0.6em;
    padding-top: 0em;
    text-align: center;
    text-indent: 0em;
}

.center {
    /* Centered Text Styling */
    display: block;
    text-align: center;
    text-indent: 0;
}

.dotleaderline {
    /* Turns a block into a flexbox so it can be "responsive" */
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-indent: 0em;
}

.dotleaderline span {
    /* Put some space between the spanned objects in the dotleaderline */
    padding-top: 0em;
    padding-right: 1.25em;
    padding-bottom: 0em;
    padding-left: 1.25em;
}

.dotfiller {
    /* Stuck between two objects in a flexbox, will fill the gap with dots */
    flex-grow: 1;
    border-bottom: 0.1em dotted;
    min-width: 1.2em;
}

.firstletter::first-letter {
    /* First Letter of paragraph Styling (i.e., dropcap) */
    font-weight: bold;
}

.footnote {
    /* Footnote Styling */
    font-family: sans-serif;
    font-size: 0.7em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-left: 4em;
    margin-right: 4em;
    text-indent: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    page-break-inside: avoid;
}

.hanging {
    /* Hanging indent styling */
    display: block;
    margin-left: 2em;
    text-indent: -2em;
}

.headline {
    /* Styling for a headline */
    display: block;
    font-size: 0.88em;
    font-weight: bold;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    text-align: center;
    text-indent: 0em;
}

.img90width {
    /* Image class to to take up 90% of the screen width */
    width: 90%;
    max-height: 100%;
    max-width: 100%;
}

.imgchaptitlewidth {
    /* Image class to set an image's percentage of screen width */
    width: 25%;
    max-height: 100%;
    max-width: 100%;
}

.imgfull {
    /* Image class to take up 90% of the screen height */
    height: 90%;
    max-height: 100%;
    max-width: 100%;
}

.imgsetwidth {
    /* Image class to set an image's percentage of screen width */
    width: 25%;
    max-height: 100%;
    max-width: 100%;
}

.indent {
    /* Indented paragraph styling */
    display: block;
    text-indent: 1.2em;
}

.italic {
    /* Italic Styling */
    font-style: italic;
}

.listitem {
    /* Class that acts as li element */
    display: list-item;
    list-style-type: none;
    margin-left: 1.2em;
    margin-right: 1.2em;
    padding-left: 1.5em;
    text-indent: -1.5em;
}

.loud {
    /* Loud, Shouting Style */
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.83em;
    padding-top: 0.83em;
}

.noindent {
    /* Non-indented paragraph styling */
    display: block;
    text-indent: 0;
}

.normal {
    /* Class to strip off styling - put in a span */
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.ol_arabic {
    /* Ordered List Class for Arabic Numbers (Safer to use UL) */
    display: block;
    list-style-type: decimal;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.ol_lowalpha {
    /* Ordered List Class for Uppercase Alphabetic "Numbers" (Safer to use UL) */
    display: block;
    list-style-type: lower-alpha;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.ol_upalpha {
    /* Ordered List Class for Uppercase Alphabetic "Numbers" (Safer to use UL) */
    display: block;
    list-style-type: upper-alpha;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.ol_uproman {
    /* Ordered List Class for Uppercase Roman "Numerals" (Safer to us UL) */
    display: block;
    list-style-type: upper-roman;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.placard {
    /* Styling for a placard */
    display: block;
    font-size: 0.88em;
    font-weight: bold;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    text-align: center;
    text-indent: 0em;
}

.right {
    /* Right-Justify styling */
    display: block;
    text-align: right;
}

.signature {
    /* Signature styling */
    display: block;
    text-align: right;
}

.small {
    /* Small font style */
    font-size: 0.9em;
}

.smaller {
    /* Smaller font style */
    font-size: 0.75em;
}

.smallcaps {
    /* Smallcaps styling (text should be typed normally and will be smallcapped) */
    font-variant: small-caps;
}

.strike {
    /*	Strike-through styling	*/
    text-decoration: line-through;
}

.subtitle {
    /* Centered Text Styling */
    display: block;
    text-align: center;
    text-indent: 0;
}

.tablestructure {
    /* Defines Structure for Whole Table, i.e. <table> */
    border: 0px black solid;
    border-collapse: separate;
    border-spacing: 5px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 100%;
}

.tabledatacell {
    /* Defines Structure for Table Data Cells, i.e. <td> */
    border: 0;
    display: table-cell;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: inherit;
    vertical-align: top
}

.tableheaderrow {
    /* Defines Structure for Table Header, i.e. <th> */
    text-decoration: underline;
    vertical-align: top;
}

.tablerow {
    /* Defines Structure for Table Row, i.e. <tr> */
    display: table-row;
    vertical-align: middle;
}

.tabletext {
    /* Hanging indent styling */
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-top: 0;
    text-indent: -2em;
}

.telegram {
    /* Style to Approximate the Look of a Telegram Without a Monospace Font */
    display: block;
    font-family: sans-serif;
    font-variant: small-caps;
    letter-spacing: 0.08em;
    margin-left: 2em;
    margin-right: 2em;
    text-indent: 0;
}

.textbox {
    /* Make a box around text (above and below it) */
    line-height: 1.3em;
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

p.textmessage {
    /* Status Styling for Single Line for Computer Screen Responses */
    display: block;
    font-size: 0.88em;
    font-weight: bold;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
    text-indent: 0;
}

span.textmessage {
    /* Status Styling for Single Line for Computer Screen Responses */
    font-size: 0.88em;
    font-weight: bold;
}

.ul_circle {
    /* Unordered List Open Circle Bullet */
    display: block;
    list-style-type: circle;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.ul_disc {
    /* Unordered List Filled Circle Bullet */
    display: block;
    list-style-type: disc;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.ul_none {
    /* Unordered List No Bullet */
    display: block;
    list-style-type: none;
    margin-left: 1.2em;
    margin-right: 1.2em;
    padding-left: 1.5em;
    text-indent: -1.5em;
}

.ul_square {
    /* Unordered List Filled Square Bullet */
    display: block;
    list-style-type: square;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.underline {
    /* Underline Styling */
    text-decoration: underline;
}

/*
* Stuff Unique to Particular Books
* Running "Remove Unused CSS Rules" Will Remove Unnecessary Stuff
*/

.worry {
    font-size: 0.88rem;
    font-style: italic;
}

div.galsix {
    /* galsix Styling for Brin's Uplift Books */
    display: block;
    font-size: .88em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1.5em;
    text-align: left;
}

div.galsix p {
    /* galsix Paragraph Styling for Brin's Uplift Books */
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -1.5em;
}

div.galsix p.first {
    /* galsix First Line for Brin's Uplift Books */
    display: block;
    padding-top: 1em;
}

div.galsix p.indented {
    /* galsix Entirely Indented Stanza for Brin's Uplift Books */
    display: block;
    margin-left: 2em;
}

div.galsix p.last {
    /* galsix Last Line for Brin's Uplift Books */
    display: block;
    padding-bottom: 1em;
}

div.galthree {
    /* galthree Styling for Brin's Uplift Books */
    display: block;
    font-size: .88em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1.5em;
    text-align: left;
}

div.galthree p {
    /* galthree Paragraph Styling for Brin's Uplift Books */
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -1.5em;
}

div.galthree p.first {
    /* galthree First Line for Brin's Uplift Books */
    display: block;
    padding-top: 1em;
}

div.galthree p.indented {
    /* galthree Entirely Indented Stanza for Brin's Uplift Books */
    display: block;
    margin-left: 2em;
}

div.galthree p.last {
    /* galthree Last Line for Brin's Uplift Books */
    display: block;
    padding-bottom: 1em;
}

div.galtwo {
    /* galtwo Styling for Brin's Uplift Books */
    display: block;
    font-size: .88em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1.5em;
    text-align: left;
}

div.galtwo p {
    /* galtwo Paragraph Styling for Brin's Uplift Books */
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -1.5em;
}

div.galtwo p.first {
    /* galtwo First Line for Brin's Uplift Books */
    display: block;
    padding-top: 1em;
}

div.galtwo p.indented {
    /* galtwo Entirely Indented Stanza for Brin's Uplift Books */
    display: block;
    margin-left: 2em;
}

div.galtwo p.last {
    /* galtwo Last Line for Brin's Uplift Books */
    display: block;
    padding-bottom: 1em;
}

div.kiqui {
    /* kiqui Styling for Brin's Uplift Books */
    display: block;
    font-size: .88em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1.5em;
    text-align: left;
}

div.kiqui p {
    /* kiqui Paragraph Styling for Brin's Uplift Books */
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -1.5em;
}

div.kiqui p::before {
    /* kiqui line starting character for Brin's Uplift Books */
    content: "\:\?\: ";
}

div.kiqui p.first {
    /* kiqui First Line for Brin's Uplift Books */
    display: block;
    padding-top: 1em;
}

div.kiqui p.indented {
    /* kiqui Entirely Indented Stanza for Brin's Uplift Books */
    display: block;
    margin-left: 2em;
}

div.kiqui p.last {
    /* kiqui Last Line for Brin's Uplift Books */
    display: block;
    padding-bottom: 1em;
}

div.mulc {
    /* mulc Styling for Brin's Uplift Books */
    display: block;
    font-size: .88em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1.5em;
    text-align: left;
}

div.mulc p {
    /* mulc Paragraph Styling for Brin's Uplift Books */
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -1.5em;
}

div.mulc p.first {
    /* mulc First Line for Brin's Uplift Books */
    display: block;
    padding-top: 1em;
}

div.mulc p.indented {
    /* mulc Entirely Indented Stanza for Brin's Uplift Books */
    display: block;
    margin-left: 2em;
}

div.mulc p.last {
    /* mulc Last Line for Brin's Uplift Books */
    display: block;
    padding-bottom: 1em;
}

div.primal {
    /* primal Styling for Brin's Uplift Books */
    display: block;
    font-size: .88em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1.5em;
    text-align: left;
}

div.primal p {
    /* primal Paragraph Styling for Brin's Uplift Books */
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -1.5em;
}

div.primal p::before {
    /* primal line starting character for Brin's Uplift Books */
    content: "# ";
}

div.primal p.first {
    /* primal First Line for Brin's Uplift Books */
    display: block;
    padding-top: 1em;
}

div.primal p.indented {
    /* primal Entirely Indented Stanza for Brin's Uplift Books */
    display: block;
    margin-left: 2em;
}

div.primal p.indented2 {
    /* Primal 2nd Indented Stanza for Brin's Uplift Books */
    display: block;
    margin-left: 4em;
}

div.primal p.last {
    /* primal Last Line for Brin's Uplift Books */
    display: block;
    padding-bottom: 1em;
}

div.primal p.last::after {
    /* primal last line ending character for Brin's Uplift Books */
    content: " #";
}

div.trinary {
    /* trinary Styling for Brin's Uplift Books */
    display: block;
    font-size: .88em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1.5em;
    text-align: left;
}

div.trinary p {
    /* trinary Paragraph Styling for Brin's Uplift Books */
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -1.5em;
}

div.trinary p::before {
    /* trinary Line starting character for Brin's Uplift Books */
    content: "* ";
}

div.trinary p.first {
    /* trinary First Line for Brin's Uplift Books */
    display: block;
    padding-top: 1em;
}

div.trinary p.indented {
    /* trinary Entirely Indented Stanza for Brin's Uplift Books */
    display: block;
    margin-left: 2em;
}

div.trinary p.indented2 {
    /* trinary Twice Indented Stanza for Brin's Uplift Books */
    display: block;
    margin-left: 4em;
}

div.trinary p.last {
    /* trinary Last Line for Brin's Uplift Books */
    display: block;
    padding-bottom: 1em;
}

div.trinary p.last::after {
    /* trinary last line ending character  for Brin's Uplift Books */
    content: " *";
}

div.traeki {
    /* traeki Styling for Brin's Uplift Books */
    display: block;
    font-size: .88em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1.5em;
    text-align: left;
}

div.status {
    /* Status Styling for Computer Screen Responses */
    display: block;
    font-size: 0.88em;
    font-weight: bold;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}

div.status p {
    /* Status Paragraph Style for Computer Screen Responses */
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0;
}

div.status p.heading {
    /* Status Heading for Computer Screen Responses */
    display: block;
    text-align: right;
}

div.status p.indented {
    /* Status Entirely Indented Paragraph for Computer Screen Responses */
    display: block;
    margin-left: 2em;
}

p.status {
    /* Status Styling for Single Line for Computer Screen Responses */
    display: block;
    font-size: 0.88em;
    font-weight: bold;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
    text-indent: 0;
}

span.status {
    /* Status Styling for Single Line for Computer Screen Responses */
    font-size: 0.88em;
    font-weight: bold;
}